# Necesario que se instale los paquetes
# con el respectivos versiones como indica el archivo de texto

asgiref==3.7.2
Django==4.2.7
psycopg==3.1.13
sqlparse==0.4.4
typing_extensions==4.8.0
pillow==10.2.0
