<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} {% endblock %}
    </title>
</head>
<body>
    <h1 style="background-color: darkolivegreen; 
    color:aliceblue;
    text-align:center">Frelancer Julio Rivera Bautista</h1>
    {% include "firstDev/mNavegacion.html" %}
    <h3>Desarrollando este sitio con DJANGO</h3>

    {% block content %}
    
    {% endblock %}

    <p style="background-color: darkolivegreen; 
    color:aliceblue;
    text-align:center">Blog personal, Gracias por su vicita.</p>

</body>
</html>