<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texto</title>
</head>
<body>
    <h1>Hola Este es el primer view en HTML</h1>
    
    {% if nombre == 'Julio' %}
    <p>El curso esta activo para al presente</p>
    {% else %}
    <P>El curso no esta disponible para <strong>{{nombre}}</strong></P>
    {% endif %}
    
    <p>Muestra nombre de:<strong> {{nombre.upper}} </strong>su apellido es:<strong> {{apellido.upper}} </strong></p>
    <p>El momento que estoy programando es la fecha actual {{fecha.day}} / {{fecha.month}} / {{fecha.year}} </p>
    
    <p><strong>Temas del curso:</strong></p>
    <p>
        <ul>
        {% if temas %}    
            {% for elTema in temas %}
                <li>{{elTema}}</li>
            {% endfor %}
            {% else %}
            <p>No hay Cursos nuevos que mostrar</p>
        {% endif %}
        </ul>
    </p>
</body>
</html>